<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GeoGiGaNi?</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{https://fonts.googleapis.com/css?family=Montserrat:400,700}" rel="stylesheet" type="text/css">
    <link th:href='@{https://fonts.googleapis.com/css?family=Kaushan+Script}' rel='stylesheet' type='text/css'>
    <link th:href='@{https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic}' rel='stylesheet' type='text/css'>
    <link th:href='@{https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700}' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/agency.min.css}" rel="stylesheet">

    <style>
      .post-footer{ position: relative; bottom: 0; left: 0; right: 0; text-align: center; }
      .post-footer > li{ display: inline-block; line-height:5px; border-right: 1px solid #fff; background: #FFFFFF; }
      .post-footer > li:first-child{ float: left; }
      .post-footer > li:last-child{ border: 0px; float: right; }
      .post-footer i{ display: inline-block; margin-right: 10px; opacity: .6; font-size: 1.1em; }
    </style>
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">GEO GI GA NI?</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Detail</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Related</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Destination Search & Share</div>
          <div class="intro-heading text-uppercase">거기가니?</div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form>
              <div class="form-row">
                <div class="col-12 col-md-9 mb-2 mb-md-0">
                  <input type="search" class="form-control form-control-lg" placeholder="Keywords">
                </div>
                <div class="col-12 col-md-3">
                  <button type="submit" class="btn btn-block btn-lg btn-primary">Find!</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </header>

    <section id="services">
      <div class="container">
        <div class="modal-content">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase" th:text="${destination_detail_info.title}"></h2>
                  <hr>
                  <img class="img-fluid d-block mx-auto" th:src="${(destination_detail_info.firstimage != null) ? destination_detail_info.firstimage : '/img/no_image_available.png'}" th:alt="${destination_detail_info.title}">
                  <hr>

                  <p th:text="${destination_detail_info.overview}"></p>
                  <hr>
                  <ul class="list-inline">
                    <li class="fa fa-phone" th:text="' (Tel) : ' + ${destination_detail_info.tel}"></li>
                    <br>
                    <li class="fa fa-map-marker" th:text="' (Address) : ' + ${destination_detail_info.addr1}"></li>
                  </ul>
                </div>
                <div class="modal-footer">
                  <p class="fa fa-eye" th:text="' ' +${destination_detail_info.clickcount}"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Destinations -->
    <section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Related</h2>
            <h3 class="section-subheading text-muted">destinations related</h3>
            <hr>
          </div>
        </div>
        <div class="row">

          <th:block th:if="${destination_similar_info != null}">
            <div th:each="doc,iterStat : ${destination_similar_info}" class="col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content">
                    <i class="fa fa-plus fa-3x"></i>
                  </div>
                </div>

                <img class="img-fluid" th:src="${(doc.firstimage != null) ? doc.firstimage : '/img/no_image_available.png'}" th:alt="${doc.title}">

              </a>
              <div class="portfolio-caption">
                <h4 th:text="${doc.titleshort}"></h4>
                <p class="text-muted" th:text="${doc.overviewshort}"></p>
                <hr>
                <ul class="post-footer">
                  <li class="fa fa-eye" th:text="' ' +${doc.clickcount}"></li>
                </ul>
              </div>
            </div>
          </th:block>

        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; Your Website 2018</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Plugin JavaScript -->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Contact form JavaScript -->
    <script th:src="@{/js/jqBootstrapValidation.js}"></script>
    <script th:src="@{/js/contact_me.js}"></script>

    <!-- Custom scripts for this template -->
    <script th:src="@{/js/agency.min.js}"></script>

  </body>

</html>
