<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>거기가니?</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Custom fonts for this template -->
    <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{https://fonts.googleapis.com/css?family=Montserrat:400,700}" rel="stylesheet" type="text/css"/>
    <link th:href='@{https://fonts.googleapis.com/css?family=Kaushan+Script}' rel='stylesheet' type='text/css'/>
    <link th:href='@{https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic}' rel='stylesheet' type='text/css'/>
    <link th:href='@{https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700}' rel='stylesheet' type='text/css'/>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/agency.min.css}" rel="stylesheet"/>

    <style>
      .post-footer{ position: relative; bottom: 0; left: 0; right: 0; text-align: center; }
      .post-footer > li{ display: inline-block; line-height:5px; border-right: 1px solid #fff; background: #FFFFFF; }
      .post-footer > li:first-child{ float: left; }
      .post-footer > li:last-child{ border: 0px; float: right; }
      .post-footer i{ display: inline-block; margin-right: 10px; opacity: .6; font-size: 1.1em; }

      table { table-layout: fixed; }
      table th, table td {
        overflow: hidden;
        text-overflow: ellipsis;
      }

      tr td{
        padding: 1 !important;
        margin: 0 !important;
      }

      a:link
      {color: #dd3806;}
      a:visited
      {color: blue;}
      a:hover
      {color: #dd3806;}

      <!--.modal.modal-wide .modal-dialog {
            width: 100%;
        }
      .modal-wide .modal-body {
            overflow-y: auto;
        }-->

      .modal-lg {
          max-width: 100% !important;
      }
    </style>
  </head>

  <body id="page-top" onload="document.getElementById('portfolio').click();">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <div class="logo">
          <a th:href="@{/popular-destinations}"><img th:src="${'/img/logos/geogigani_icon_48x48.png'}" title="geogigani"></a>
        </div>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services" id="menu-detail">Detail</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio2">Short-Dist</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Related</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/dust-info}">미세먼지</a>
            </li>
            <li class="nav-item">
              <div class="nav-link col-md-12 col-lg-12 col-xl-12 mx-auto">
                <form id="search_form" role="form" th:action="@{/search-destinations}" method="get">
                  <div class="form-row">
                    <div class="col-12 col-md-9 mb-2 mb-md-0">
                      <input id="keywords" name="keywords" type="text" class="form-control form-control-sm" placeholder="Keywords ..." th:onkeypress="'javascript:if(event.keyCode==13) {search(); return false;}'"/>
                    </div>
                    <div class="col-12 col-md-2">
                      <button type="button" class="btn btn-block btn-sm btn-outline-danger" th:onclick="'javascript:search();'">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Destination Search and Share</div>
          <div class="intro-heading text-uppercase">거기가니?</div>
        </div>
      </div>
    </header>

    <!-- Dust Info -->
    <section id="portfolio">

      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">미세먼지</h2>
            <h3 class="section-subheading text-muted" th:if="${dust_info != null}" th:text="${dust_info.dateTime} + ' 의 미세먼지 정보입니다.'"></h3>
            <tenping class="adsbytenping" style="width: 100%; margin: 0px auto; display: block; max-width: 580px;" tenping-ad-client="ULkZYhHDonqxNgJx%2bd2t5XgWCcx0QUdnsdGDbY1yMIshP4q34efQL0ddArqjWnF3" tenping-ad-display-type="UD8Mia8gyIoT5Z2MT6VB3Q%3d%3d"></tenping><script async src='//ads.tenping.kr/scripts/adsbytenping.min.js' ></script>
            <br />
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 text-center">
            <blockquote class="fa fa-database">
              <small >본 미세먼지 정보는 한국환경공단에서 제공하는 공공데이터를 활용하였습니다.</small>
            </blockquote>
            <br />
          </div>
        </div>

        <div class="row">
          <button type="button" class="btn btn-default btn-sm" th:onclick="'javascript:show_region(1)'">
            <small th:text="서울"></small>
            <i class="fa fa-search"></i>
          </button>
          <th:block th:if="${dust_info != null}">
            <div class="col-lg-12 text-center">
              <table class="table table-bordered">
                <thead>
                <tr class="text-center">
                  <th bgcolor="#444444" style="width:100px"><small style="color:white">지역</small></th>
                  <th bgcolor="#444444" ><small style="color:white">미세먼지</small></th>
                  <th bgcolor="#444444" ><small style="color:white">초미세먼지</small></th>
                  <th bgcolor="#444444" ><small style="color:white">오존</small></th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-center" th:each="regionDustData,iterStat : ${dust_info.regionDustDataList}">
                  <td bgcolor="#777777">
                    <button type="button" class="btn btn-default btn-sm" th:onclick="'javascript:show_region(' + ${regionDustData.regioncode} + ')'">
                      <small th:text="${regionDustData.regionname}"></small>
                      <i class="fa fa-search"></i>
                    </button>
                  </td>
                  <td th:bgcolor="${regionDustData.pm10color}">
                    <small th:text="${regionDustData.pm10status}" style="color:white"></small>
                  </td>
                  <td th:bgcolor="${regionDustData.pm25color}">
                    <small th:text="${regionDustData.pm25status}" style="color:white"></small>
                  </td>
                  <td th:bgcolor="${regionDustData.o3color}">
                    <small th:text="${regionDustData.o3status}" style="color:white"></small>
                  </td>
                </tbody>
              </table>
            </div>
          </th:block>
        </div>

        <tenping class="adsbytenping" style="width: 100%; margin: 0px auto; display: block; max-width: 768px;" tenping-ad-client="ULkZYhHDonqxNgJx%2bd2t5XgWCcx0QUdnsdGDbY1yMIshP4q34efQL0ddArqjWnF3" tenping-ad-display-type="67%2be3LHzHbblsB9oLrOpWQ%3d%3d"></tenping><script async src='//ads.tenping.kr/scripts/adsbytenping.min.js' ></script>

      </div>
    </section>

    <hr/>
    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto text-center">
            <p class="large text-muted">본 정보는 한국관광공사에서 제공하는 공공데이터를 활용하였으며, 현지사정에 의해 변경될 수 있습니다.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mx-auto text-center">
            <span class="copyright">Copyright &copy; 2018 GeoGiGaNi All Rights Reserved.</span>
          </div>
        </div>
      </div>
    </footer>

    <!-- Modal -->
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    </div>
    <!-- /.modal -->

    <!--<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  &lt;!&ndash; Project Details Go Here &ndash;&gt;
                  <h2 class="text-uppercase">Project Name</h2>
                  <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                  <img class="img-fluid d-block mx-auto" src="img/portfolio/01-full.jpg" alt="">
                  <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                  <ul class="list-inline">
                    <li>Date: January 2017</li>
                    <li>Client: Threads</li>
                    <li>Category: Illustration</li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>-->

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Plugin JavaScript -->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Contact form JavaScript -->
    <script th:src="@{/js/jqBootstrapValidation.js}"></script>
    <script th:src="@{/js/contact_me.js}"></script>

    <!-- Custom scripts for this template -->
    <script th:src="@{/js/agency.min.js}"></script>

    <script th:inline="javascript">
      function search() {
        var keywords = $("#keywords").val();
        keywords = keywords.trim();
        if(keywords == '') return;

        $("#search_form").submit();
      }

      function show_region(area_code) {
          var url = /*[[@{'/region-based-destinations/'}]]*/;
          url = url + area_code;
          $("#myModal").html('');
          $("#myModal").load(url, function() {
            $("#myModal").modal('show');
          });
      }

    </script>

  </body>

</html>
