<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({
              google_ad_client: "ca-pub-4129044928312463",
              enable_page_level_ads: true
         });
    </script>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>거기가니?</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Custom fonts for this template -->
    <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{https://fonts.googleapis.com/css?family=Montserrat:400,700}" rel="stylesheet" type="text/css"/>
    <link th:href='@{https://fonts.googleapis.com/css?family=Kaushan+Script}' rel='stylesheet' type='text/css'/>
    <link th:href='@{https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic}' rel='stylesheet' type='text/css'/>
    <link th:href='@{https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700}' rel='stylesheet' type='text/css'/>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/agency.min.css}" rel="stylesheet"/>

    <style>
      .post-footer{ position: relative; bottom: 0; left: 0; right: 0; text-align: center; }
      .post-footer > li{ display: inline-block; line-height:5px; border-right: 1px solid #fff; background: #FFFFFF; }
      .post-footer > li:first-child{ float: left; }
      .post-footer > li:last-child{ border: 0px; float: right; }
      .post-footer i{ display: inline-block; margin-right: 10px; opacity: .6; font-size: 1.1em; }

      hr.style-my {
        color: #dd3806;
      }

      table { table-layout: fixed; }
      table th, table td {
        overflow: hidden;
        text-overflow: ellipsis;
      }

      tr td{
        padding: 1 !important;
        margin: 0 !important;
      }

      a:link
      {color: #dd3806;}
      a:visited
      {color: #dd3806;}
      a:hover
      {color: #dd3806;}

    </style>
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <div class="logo">
          <a th:href="@{/popular-destinations}"><img th:src="${'/img/logos/geogigani_icon_48x48.png'}" title="geogigani"></a>
        </div>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <th:li  th:if="${destination_interest_info != null}" class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio2">Interest</a>
            </th:li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Popular</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#team">Helper</a>
            </li>
            <li class="nav-item">
              <div class="nav-link col-md-12 col-lg-12 col-xl-12 mx-auto">
                <form id="search_form" role="form" th:action="@{/search-destinations}" method="get">
                  <div class="form-row">
                    <div class="col-12 col-md-9 mb-2 mb-md-0">
                      <input id="keywords" name="keywords" type="text" class="form-control form-control-sm" placeholder="Keywords ..." th:onkeypress="'javascript:if(event.keyCode==13) {search(); return false;}'"/>
                    </div>
                    <div class="col-12 col-md-2">
                      <button type="button" class="btn btn-block btn-sm btn-outline-danger" th:onclick="'javascript:search();'">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Destination Search and Share</div>
          <div class="intro-heading text-uppercase">거기가니?</div>
          <!--<div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form id="search_form" role="form" th:action="@{/search-destinations}" method="get">
              <div class="form-row">
                <div class="col-12 col-md-9 mb-2 mb-md-0">
                  <input id="keywords" name="keywords" type="text" class="form-control form-control-lg" placeholder="Keywords ..." th:onkeypress="'javascript:if(event.keyCode==13) {search(); return false;}'"/>
                </div>
                <div class="col-12 col-md-3">
                  <button type="button" class="btn btn-block btn-lg btn-primary" th:onclick="'javascript:search();'">Find</button>
                </div>
              </div>
            </form>
          </div>-->
        </div>
      </div>
    </header>

    <!-- Interest -->
    <th:block th:if="${destination_interest_info != null}">
    <section class="bg-light" id="portfolio2">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Interest</h2>
            <h3 class="section-subheading text-muted">For your interest</h3>
            <div>
              <th:block th:if="${destination_interest_info != null}">
                <ul class="nav nav-tabs">
                  <li th:each="category,iterStat : ${destination_interest_info}" class="nav-item">
                    <a th:class="'nav-link' + ${iterStat.index == 0 ? ' active' : ''}" th:href="'#interest-ct-tab' + ${iterStat.index}" data-toggle="tab"><small th:text="${category.key} + ' (' + ${category.totalSize} + ')'"></small></a>
                  </li>
                </ul>
              </th:block>
            </div>
            <br />
          </div>
        </div>

        <div class="tab-content">
          <th:block th:each="destlist,iterStat : ${destination_interest_info}" th:if="${destination_interest_info != null}">
            <div th:class="'tab-pane fade' + ${iterStat.index == 0 ? ' active in show' : ''}" th:id="'interest-ct-tab' + ${iterStat.index}">

              <th:block th:if="${destlist.destListMap != null}">
                <table class="table table-striped table-bordered">
                  <thead>
                  <tr class="text-center">
                    <th style="width:100%"><small>지역별</small></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td class="align-middle">
                      <ul class="nav nav-pills">
                        <li th:each="ac,iterStat : ${destlist.destListMap}" class="nav-item">
                          <a th:class="'nav-link' + ${iterStat.index == 0 ? ' active' : ''}" th:href="'#interest-ac-tab-' + ${destlist.seq} + '-' + ${iterStat.index}" data-toggle="tab"><small th:text="${ac.key} + ' (' + ${ac.value.size()} + ')'"></small></a>
                        </li>
                      </ul>
                    </td>
                  </tbody>
                </table>
              </th:block>

              <div class="tab-content">
                <th:block th:each="list,iterStat : ${destlist.destListMap}" th:if="${destlist.destListMap != null}">
                  <div th:class="'tab-pane fade' + ${iterStat.index == 0 ? ' active in show' : ''}" th:id="'interest-ac-tab-' + ${destlist.seq} + '-' + ${iterStat.index}">
                    <div class="row">
                      <th:block th:each="doc : ${list.value}" th:if="${list.value != null}">
                        <div class="col-md-4 col-sm-6 portfolio2-item">
                          <a class="portfolio2-link" th:onclick="'javascript:show_detail(' + ${doc.contentid} + ')'">
                            <div class="portfolio2-hover">
                              <div class="portfolio2-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                              </div>
                            </div>

                            <img class="img-fluid" th:src="${(doc.firstimage != null) ? doc.firstimage : '/img/no_image_available.png'}" th:alt="${doc.title}"/>

                          </a>
                          <div class="portfolio2-caption">
                            <h5 th:text="${doc.titleshort}"></h5>
                            <small class="text-muted" th:text="${doc.overviewshort}"></small>
                            <hr/>
                            <ul class="post-footer">
                              <li class="fa fa-eye" th:text="' ' +${doc.clickcount}"></li>
                            </ul>
                          </div>
                        </div>
                      </th:block>
                    </div>
                  </div>
                </th:block>
              </div>
            </div>
          </th:block>
        </div>
      </div>
    </section>
    </th:block>

    <!-- Destinations -->
    <section id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Popular</h2>
            <h3 class="section-subheading text-muted">Real-time popular destinations</h3>
            <div>
              <th:block th:if="${destination_info != null}">
                <ul class="nav nav-tabs">
                  <li th:each="category,iterStat : ${destination_info}" class="nav-item">
                    <a th:class="'nav-link' + ${iterStat.index == 0 ? ' active' : ''}" th:href="'#popular-ct-tab' + ${iterStat.index}" data-toggle="tab"><small th:text="${category.key} + ' (' + ${category.totalSize} + ')'"></small></a>
                  </li>
                </ul>
              </th:block>
            </div>
            <br />
          </div>
        </div>

        <div class="tab-content">
          <th:block th:each="destlist,iterStat : ${destination_info}" th:if="${destination_info != null}">
            <div th:class="'tab-pane fade' + ${iterStat.index == 0 ? ' active in show' : ''}" th:id="'popular-ct-tab' + ${iterStat.index}">

              <th:block th:if="${destlist.destListMap != null}">
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr class="text-center">
                      <th style="width:100%"><small>지역별</small></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="align-middle">
                        <ul class="nav nav-pills">
                          <li th:each="ac,iterStat : ${destlist.destListMap}" class="nav-item">
                            <a th:class="'nav-link' + ${iterStat.index == 0 ? ' active' : ''}" th:href="'#popular-ac-tab-' + ${destlist.seq} + '-' + ${iterStat.index}" data-toggle="tab"><small th:text="${ac.key} + ' (' + ${ac.value.size()} + ')'"></small></a>
                          </li>
                        </ul>
                      </td>
                  </tbody>
                </table>
              </th:block>

              <div class="tab-content">
                <th:block th:each="list,iterStat : ${destlist.destListMap}" th:if="${destlist.destListMap != null}">
                  <div th:class="'tab-pane fade' + ${iterStat.index == 0 ? ' active in show' : ''}" th:id="'popular-ac-tab-' + ${destlist.seq} + '-' + ${iterStat.index}">
                    <div class="row">
                    <th:block th:each="doc : ${list.value}" th:if="${list.value != null}">
                      <div class="col-md-4 col-sm-6 portfolio-item">
                        <a class="portfolio-link" th:onclick="'javascript:show_detail(' + ${doc.contentid} + ')'">
                          <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                              <i class="fa fa-plus fa-3x"></i>
                            </div>
                          </div>

                          <img class="img-fluid" th:src="${(doc.firstimage != null) ? doc.firstimage : '/img/no_image_available.png'}" th:alt="${doc.title}"/>

                        </a>
                        <div class="portfolio-caption">
                          <h5 th:text="${doc.titleshort}"></h5>
                          <small class="text-muted" th:text="${doc.overviewshort}"></small>
                          <hr/>
                          <ul class="post-footer">
                            <li class="fa fa-eye" th:text="' ' +${doc.clickcount}"></li>
                          </ul>
                        </div>
                      </div>
                    </th:block>
                    </div>
                  </div>
                </th:block>
              </div>
            </div>
          </th:block>
        </div>
      </div>
    </section>

    <!-- About -->
    <section id="about" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">About</h2>
            <h3 class="section-subheading text-muted">거기가니?</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 mx-auto text-center">
            <small style="color: #dd3806;">매주 어디갈지를 고민하는 엄마, 아빠에게 장소 추천을 해드려요. 여긴 어떠세요?</small>
            <br/>
            <br/>
            <table class="table table-striped table-bordered">
              <thead>
              <tr class="text-center">
                <th style="width:40%"><small>섹션</small></th>
                <th style="width:60%"><small>설명</small></th>
              </tr>
              </thead>

              <tbody>
              <tr>
                <td class="align-middle text-center"><small>Popular<br/>(집단지성)</small></td>
                <td class="align-middle text-left"><small>최신성을 반영한 요즘 인기 여행지를 추천해 드려요.</small></td>
              </tr>
              <tr>
                <td class="align-middle text-center"><small>Interest<br/>(개인화)</small></td>
                <td class="align-middle text-left"><small>엄마/아빠가 조회하는 여행지를 기반으로 맞춤 여행지를 추천해 드려요.(세션타임동안만..)</small></td>
              </tr>
              <tr>
                <td class="align-middle text-center"><small>Short-Distance<br/>(근거리)</small></td>
                <td class="align-middle text-left"><small>현재 상세조회한 여행지와 가까운(20km이내) 여행지를 추천해 드려요.</small></td>
              </tr>
              <tr>
                <td class="align-middle text-center"><small>Related<br/>(관련/유사)</small></td>
                <td class="align-middle text-left"><small>현재 상세조회한 여행지와 관련있거나 유사한 전국의 여행지를 추천해 드려요.</small></td>
              </tr>
              </tbody>
            </table>

            <!--<p class="text-muted">I hope this can help Mom and Dad find out where to go every weekend. There are 4 options.</p>
            <p class="text-muted">- Real-time popular destinations.</p>
            <p class="text-muted">- You might be interested.</p>
            <p class="text-muted">- Destinations in short-distance.</p>
            <p class="text-muted">- Related destinations.</p>-->
          </div>
        </div>
      </div>
    </section>

    <!-- Team -->
    <section id="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">HELPER</h2>
            <h3 class="section-subheading text-muted">members</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="team-member">
              <img class="mx-auto rounded-circle" th:src="${'/img/my.jpg'}" alt="">
              <h4>Shim Kangseop</h4>
              <p class="text-muted">Developer</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  dwayne.shim@gmail.com
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <hr/>
    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto text-center">
            <p class="large text-muted">본 정보는 한국관광공사에서 제공하는 공공데이터를 활용하였으며, 현지사정에 의해 변경될 수 있습니다.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mx-auto text-center">
            <span class="copyright">Copyright &copy; 2018 GeoGiGaNi All Rights Reserved.</span>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Plugin JavaScript -->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Contact form JavaScript -->
    <script th:src="@{/js/jqBootstrapValidation.js}"></script>
    <script th:src="@{/js/contact_me.js}"></script>

    <!-- Custom scripts for this template -->
    <script th:src="@{/js/agency.min.js}"></script>

    <script th:inline="javascript">
      function search() {
        var text = $("#keywords").val();
        text = text.trim();
        if(text == '') return;

        $("#search_form").submit();
      }

      function show_detail(dest_id) {
        var url = /*[[@{'/destination-detail/'}]]*/;
        url = url + dest_id;
        var form = document.createElement("form");
        form.setAttribute("method", "GET");
        form.setAttribute("action", url);
        document.body.appendChild(form);
        form.submit();
      }
    </script>
  </body>

</html>
